body {
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-gap: 1em 1em;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 3.5em;
}
.grid-item {
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
}
h1 {
  line-height: 1;
  margin: 0em;
  margin-bottom: .5em;
}

.grid-container {
  grid-template-areas:
                      "head head head head head head head head head head head head"
                      "feat1 feat1 feat1 feat1 feat2 feat2 feat2 feat2 feat3 feat3 feat3 feat3"
                      "pic1 pic1 pic1 blog1 blog1 blog1 blog2 blog2 blog2 blog3 blog3 blog3"

}

.one {
  grid-area: head;
  position: relative;
  text-align: center;
  color: white;
}
.headertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 1000;
}
.two {
  grid-area: feat1;
}
.three {
  grid-area: feat2;
}
.four {
  grid-area: feat3;
}
/*Style for these classes*/
.two, .three, .four{
  font-weight: 500;
  font-size: 60px;
  padding: .5em;
}

.five {
  grid-area: pic1;
}
.six {
  grid-area: blog1;
}
.seven {
  grid-area: blog2;
}
.eight {
  grid-area: blog3;
}
.six, .seven, .eight {
  text-align: center;
  flex-direction: column;
  padding: 1em;
}

footer {
  margin: 1em 0em 0em 0em;
  text-align: center;
  padding: 1em 0 .3em 0;
  background-color: #0F0F0F;
  position: fixed;
  min-width: 100%;
  bottom: 0;
}
